@model Category
@{
    ViewData["Title"] = "Awesome store";
    var categories = ViewData["Categories"] as List<Category>;

    var categoryLinks = categories
    .Where(c => c.Id != Model.Id)
    .Select(c =>
    {
        return (object)new
        {
            Name = c.Name,
            Url = Url.Action("Category", new {Controller = "Home", id = c.Id})
        };
    }).ToList();

    categoryLinks.Insert(0, (object)new
    {
        Name = "Всі",
        Url = Url.Action("Index", new {Controller = "Home"})
    });
}

<h2 class="mb-4">Категорії</h2>
@await Html.PartialAsync("_CategoryLinks", categoryLinks)

<h2 class="mb-4 mt-4">@Model.Name</h2>
<div class="row mb-4">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-3">
            @await Html.PartialAsync("_ProductCard", item)
        </div>

    }
</div>
@await Html.PartialAsync("_CategoryLinks", categoryLinks)

@section Scripts {
    <script src="/js/cart.js"></script>
}


@section MenuLinks {
    <li class="nav-item">
        <a class="nav-link text-dark position-relative" asp-area="" asp-controller="Cart" asp-action="Index">
            Корзина
            <span data-cartcount class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none">

            </span>
        </a>
    </li>
}