@model User
@{
    ViewData["Title"] = "Профіль користувача";
    var orders = ViewData["Orders"] as List<Order>;
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">

        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_UserProfileCard", Model)
            </div>
            <div class="card-footer d-flex g-1 justify-content-between">
                <a asp-action="Edit" asp-controller="Profile" class="btn btn-success">
                    Редагувати
                </a>
                <a asp-action="ChangePassword" asp-controller="Profile" class="btn btn-danger">
                    Змінити пароль
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-header">Замовлення</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата час</th>
                            <th>Сума</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in orders)
                        {
                            <tr>
                                <td># @order.Id</td>
                                <td>@order.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>@order.Items.Sum(x => x.Price * x.Quantity)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
