@{
    ViewData["Title"] = "Cart";
}

<div class="row">
    <div class="col-md-12" id="cart">

    </div>
</div>



@section Scripts {
    <script src="/js/cart.js"></script>
    <script>
        showCart();
    </script>
}